body{
  margin: 0 auto;
}

/*Header*/
header{
  width: 100%;
  height: auto;
  background-color: #000;
  color: #FFF;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align:center;
  z-index: 3;
}

header ul li {
  z-index: 2;
}

h1 {
  position: absolute;
  width: inherit;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  text-align: center;
  background-color:#000;
}

header ul li p{
  position: relative;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  width: 50px;
  text-align: left;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
}

header ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
}

header ul li ul {
  display: none;
  padding: 0;
  margin: 0;
}

header ul li:hover {
 width: 200px;
}

header ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  border: 1px solid #000;
  background-color: #000;

}

header li:hover ul li {
   float:none;
   padding: 5px 0;
 }

 header li ul li {
   font-size: 16px;
 }

 header li ul a:hover li {
   font-weight: bold;
 }


h4 {
  margin: 0;
  font-size: 19px;
  color: #000;
  background-color: #FFF;
}

/*Container*/
.container.roman{
  margin: auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.chapter{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.vignette{
  width: 32%;
  height: auto;
  position: relative;
  font-family: Karan;
  font-size: 100%;
  margin: 1vw 0;
  box-sizing: border-box;
}

img.photoVignette{
  width: 100%;
  height: auto;
  border-radius: 2%;
  z-index: 0;
}

.vignette img.photoVignette + .textBox{
  position: absolute;
  top: 0;
  left: 0;
}

.textBox{
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 2%;
  box-sizing: border-box;
  z-index: 1;
}

p.textBubble{
  background-color: rgba(95, 0, 0, 0.5);
  display: inline-block;
  margin: auto;
  padding: 3px;
  border-radius: 10%;
  letter-spacing: -0.1vw;
}

/*footer*/
footer {
  padding: 1%;
  box-sizing: border-box;
  background-color: #000;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer img {
  padding:0 3%;
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

footer img:hover {
  /*opacity: 0.9;*/
  transform: scale(1.3);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1024px){
  .vignette{
    width: 49%;
  }
}

@media screen and (max-width: 768px){
  .container.roman{
    width: 100%;
  }

  .vignette{
    width: 100%;
  }
}
