@font-face{
  font-family: Karan;
  src: url(fonts/KARAN___.ttf);
}

@font-face {

  font-family: Supermario256;
  src: url(fonts/SuperMario256.ttf);
}

@font-face {

  font-family: Darklarch;
  src: url(fonts/DarkLarch.ttf);
}
@font-face {

  font-family: Gotcha Gothic Regular;
  src: url(fonts/GotchaGothicRegular.ttf);
}
@font-face {

  font-family: outbox;
  src: url(fonts/TheOutboxSt.ttf);
}
body{
  margin: 0;
}

/*Header*/
header{
  width: 100%;
  height: auto;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:Arial, sans-serif;
  z-index: 10;
}

header .menu-home {
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
}

h1 {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  text-align: center;
  background-color:#000;
  color: #000;
  font-family: Darklarch, Arial, sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #FFF, -2px -2px #FFF, -2px 2px #FFF, 2px -2px #FFF;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align:center;
}

header ul li p{
  right: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  width: 50px;
  text-align: right;
}

header ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
}

header ul li ul{
  display: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

header ul li:hover ul{
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  border: 1px solid #000;
  background-color: #000;

}

header li:hover ul li {
   float:none;
   padding: 5px 0;
 }

 header li ul li {
   font-size: 16px;
 }

 header li ul a:hover li, .sousmenu:hover, li.sousmenu:hover ul.leveltwo li:hover{
   font-weight: bold;
 }

 li.sousmenu ul.leveltwo li  {
   display: none;
   font-weight: normal;
   z-index: 10;
 }

 li.sousmenu:hover ul.leveltwo li{
display: block;

 }

/*Container*/

.container.roman{
  width: 100%;
  height: auto;
}


.chapterBox{
  width: 100%;
  font-family: Karan;
}

.chapterBox.introduction{
  padding-top: 2%;
}

.theEnd{
  display: flex;
  padding: 2%;
  justify-content: flex-end;
}

.introduction, .conclusion{
  background-image: url(photos/fond-informatique-vert.jpg);
}

.theEnd h3{
  background-color: black;
  color: lightgreen;
  border:2px solid lightgreen;
  border-radius: 10%;
}

#cycliste{
  background-image: url(photos/velo/velo.jpg);
}

#derrick{
  background-image: url(photos/yeux.jpg);
}

#indiana{
  background-image: url(photos/feuilles.jpg);
}

#chapeau{
  background-image: url(photos/background-chapeau.jpg);
}

.chapter{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.introduction .chapter{
  border-top-left-radius: 1.5%;
  border-top-right-radius: 1.5%;
}

.conclusion .chapter{
  border-bottom-left-radius: 1.5%;
  border-bottom-right-radius: 1.5%;
}

.vignette{
  width: 32%;
  height: auto;
  position: relative;
  font-size: 100%;
  margin: 1vw 0;
}

.grande{
  width: 98.5%;
}

.moyenne{
  display: none;
}

.petite{
  display: none;
}

img.photoVignette{
  width: 100%;
  height: auto;
  border-radius: 2%;
  z-index: 0;
}

.vignette img.photoVignette + .textBox{
  position: absolute;
  top: 0;
  left: 0;
}

.textBox{
  width: 100%;
  height: calc(100% - 1px);
  border: 3px solid black;
  border-radius: 2%;
  box-sizing: border-box;
  z-index: 1;
}

p.textBubble{
  display: inline-block;
  font-size: 1.1vw;
  font-weight: bold;
  margin: auto;
  letter-spacing: -0.1vw;
  border: 2px solid black;
  word-wrap: normal;
  text-align: center;
}

.round{
  border-radius: 50%;
  padding: 15px;
}

.square{
  border-radius: 5px;
  padding: 5px;
}

.white{
  background-color: white;
  color: black;
}

.black{
  background-color: #000;
  color:#FFF;
}

.topRight{
  position: absolute;
  top: 0;
  right: 0;
}

.topLeft{
  position: absolute;
  top: 0;
  left: 0;
}

.bottomRight{
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottomLeft{
  position: absolute;
  bottom: 0;
  left: 0;
}


/*footer*/
footer {
  padding: relative;
  padding: 1%;
  box-sizing: border-box;
  background-color: #000;
  text-align: center;
  width: 100%;
}

footer img {
  padding:0 3%;
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

footer img:hover {
  opacity: 0.7;
  transform: scale(1.3);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1024px){
  .vignette{
    width: 48.5%;
  }

  .moyenne{
    width: 98.5%;
    display: inline-block;
  }

  .grande{
    display: none;
  }

  .petite{
    display: none;
  }

  p.textBubble{
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 640px){
  .vignette{
    width: 100%;
  }

  .chapter{
    padding: 2%;
  }

  .petite{
    display: block;
  }

  .grande{
    display: none;
  }

  .moyenne{
    display: none;
  }

  p.textBubble{
    font-size: 2.8vw;
  }
}

/*Fiches persos*/
.fiche-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundalice {
    background-image: url('photos/feuilles.jpg');
}
.backgroundelise {
    background-image: url('photos/background-chapeau.jpg');
}
.backgroundjamil {
    background-image: url('photos/velo/velo.jpg');
}
.backgroundlaurene {
    background-image: url('photos/yeux.jpg');
}
.photo {
    width: 35%;
    order: 1;
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;

}

.texte {
    width: 75%;
    order: 2;
    flex: 2;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;,
    display: flex;
    flex-direction: column;
    background: #cedbe9;
    padding: 5px;
    background: -moz-linear-gradient(-45deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    background: -webkit-linear-gradient(-45deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    background: linear-gradient(135deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
}

.eliseperso {
  background: rgba(155, 155, 155, 0.9);
}

.aliceperso {
  background: rgba(200, 185, 105, 0.8);
}
.laureneperso {
  background: rgba(175, 34, 4, 0.8);
}

.photo2 {
    display: none;
}

.prenom {
    font-family: 'SuperMario256';
    font-size: 25px;
    color: blue;
    text-shadow: rgb(247, 244, 244) 4px -3px 2px;
    padding: 5px;
}

.elisenom {
  font-family: Darklarch;
  color: #000;
  font-size: 60px;
  text-shadow: 2px 2px 2px #FFF;
}

.listejam {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: center;
}

.spanperso {
    font-family: 'SuperMario256', arial, serif;
    color: red;
    text-shadow: rgb(247, 244, 244) 4px -3px 2px;
}

.elisedetail {
  font-family: Darklarch, Arial;
  font-size: 25px;
  color: #000;
}
.alicedetail {
  font-family: Gotcha Gothic Regular, Arial;
  font-size: 18px;
  color: #207305;
}
.alicetitre {
  font-family: Gotcha Gothic Regular, Arial;
  font-size: 22px;
  color: #207305;
}
.laurenedetail {
  font-family: outbox, Arial;
  font-size: 18px;
  color: #000;
}
.laurenetitre {
  font-family: outbox, Arial;
  font-size: 22px;
  color: #000;
}
.paraperso {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}


.h3perso {
    font-family: 'SuperMario256', arial, serif;
    color: black;
    position: relative;
    top: -60px;
    font-size: 20px;
    text-shadow: #f7f4f4 4px -3px 2px;
}

@media screen and (max-width: 1024px) {
    .fiche-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .photo {
        display: none;
    }
    .photo2 {
        order: 1;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 2px;
        box-sizing: border-box;
        align-items: center;
        align-self: center;
        flex: 1;
        display: flex;
    }
    .texte {
        order: 2;
        flex: 1 0 auto;
        align-self: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-height: 640px) {
    .fiche-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .photo {
        display: none;
    }
    .photo2 {
        display: flex;
        order: 1;
        border: 2px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        align-items: center;
        align-self: center;
        flex: 1;
    }
    .texte {
        order: 2;
        flex: 1 0 auto;
        align-self: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 0;
    }
}
/*css barre de progression*/

.skill {
    list-style: none;
    width: 50%;
    margin: 0 auto;
    position: relative;
    line-height: 2em;


}

.skill li {
    margin:25px 0 25px 0;
    height: 20px;
    border-radius: 10px;
    border-color: black solid 1px;
    -moz-box-shadow: 0 1px 0px #bbbdb9 inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #bebbb9;
}

.bar {
    height: 18px;
    margin: 1px 2px;
    position: absolute;
    left: 50px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    width: 10%;
}

.icon {
  width: 100%;
}

li.icon1 {
    background: url('photos/icones/ninja.png') left no-repeat;
    padding: 5px;
    position: relative;
}

li.icon2 {
    background: url('photos/icones/energy.png') left no-repeat;
    padding: 5px;
}

li.icon3 {
    background: url('photos/icones/speed.png') left no-repeat;
    padding: 5px;
}

li.icon4 {
    background: url('photos/icones/brain.png') left no-repeat;
    padding: 5px;
}
li.iconelise1 {
    background: url('photos/icones/ninja.png') left no-repeat;
    padding: 5px;
}
li.iconelise2 {
    background: url('photos/icones/psy.png') left no-repeat;
    padding: 5px;
}
li.iconelise3 {
    background: url('photos/icones/library.png') left no-repeat;
    padding: 5px;
}
li.iconelise4 {
    background: url('photos/icones/lazy.png') left no-repeat;
    padding: 5px;
}
li.iconealice1 {
    background: url('photos/icones/ninja.png') left no-repeat;
    padding: 5px;
}
li.iconealice2 {
    background: url('photos/icones/archeo.png') left no-repeat;
    padding: 5px;
}
li.iconealice3 {
    background: url('photos/icones/aventure.png') left no-repeat;
    padding: 5px;
}
li.iconealice4 {
    background: url('photos/icones/langue.png') left no-repeat;
    padding: 5px;
}
li.iconelaurene1 {
    background: url('photos/icones/police.png') left no-repeat;
    padding: 5px;
}
li.iconelaurene2 {
    background: url('photos/icones/obs.png') left no-repeat;
    padding: 5px;
}
li.iconelaurene3 {
    background: url('photos/icones/arme.png') left no-repeat;
    padding: 5px;
}
li.iconelaurene4 {
    background: url('photos/icones/langue.png') left no-repeat;
    padding: 5px;
}
/* barre d'animation*/
.furtif {
    width: 63%;
    -moz-animation: furtif 2s ease-out;
    -webkit-animation: furtif 2s ease-out;
    background-color: #f74c35;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f74c35), to(#f7260a));
    background-image: -webkit-linear-gradient(top, #f74c35, #f7260a);
    background-image: -moz-linear-gradient(top, #f74c35, #f7260a);
    background-image: -ms-linear-gradient(top, #f74c35, #f7260a);
    background-image: -o-linear-gradient(top, #f74c35, #f7260a);
    background-image: linear-gradient(top, #f74c35, #f7260a);
}

.mana {
    width: 68%;
    -moz-animation: mana 2s ease-out;
    -webkit-animation: mana 2s ease-out;
    background-color: #f0bb4b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
    background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.acc {
    width: 65%;
    -moz-animation: acc 2s ease-out;
    -webkit-animation: acc 2s ease-out;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.attaque {
    width: 70%;
    -moz-animation: attaque 2s ease-out;
    -webkit-animation: attaque 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

/*key frame barre d'animation*/
@-moz-keyframes furtif {
    0% {
        width: 0px;
    }
    100% {
        width: 63%;
    }
}

@-moz-keyframes mana {
    0% {
        width: 0px;
    }
    100% {
        width: 68%;
    }
}

@-moz-keyframes acc {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes attaque {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes furtif {
    0% {
        width: 0px;
    }
    100% {
        width: 63%;
    }
}

@-webkit-keyframes mana {
    0% {
        width: 0px;
    }
    100% {
        width: 68%;
    }
}

@-webkit-keyframes acc {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes attaque {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    }
}

/*media queries jamil*/
@media screen and (max-width: 1024px) {
    .fiche-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .photo {
        display: none;
    }
    .photo2 {
        order: 1;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 2px;
        box-sizing: border-box;
        align-items: center;
        align-self: center;
        flex: 1;
        display: flex;
        width: 60%;
    }
    .texte {
        order: 2;
        flex: 1 0 auto;
        align-self: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .fiche-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .photo {
        display: none;
    }
    .photo2 {
        display: flex;
        order: 1;
        border: 2px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        align-items: center;
        align-self: center;
        flex: 1;
        width: 60%;
    }
    .texte {
        order: 2;
        flex: 1 0 auto;
        align-self: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 0;
    }
}
