html, body {
    margin: 0;
    padding: 0;
    background: url('../photos/jamilbackground.jpg');
    background-size: cover;

}

@font-face {
    font-family: 'SuperMario256';
    src: url('../fonts/SuperMario256.ttf');
}

.fiche-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.photo {
    width: 35%;
    order: 1;
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;

}

.texte {
    width: 75%;
    order: 2;
    flex: 2;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    background: #cedbe9;
    background: -moz-linear-gradient(-45deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    background: -webkit-linear-gradient(-45deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    background: linear-gradient(135deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
}

.photo2 {
    display: none;
}

.prenom {
    font-family: 'SuperMario256';
    font-size: 25px;
    color: blue;
    text-shadow: rgb(247, 244, 244) 4px -3px 2px;
}

ul {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: center;
}

span {
    font-family: 'SuperMario256', arial, serif;
    color: red;
    text-shadow: rgb(247, 244, 244) 4px -3px 2px;
}

p {
    font-family: Arial, serif;
    font-size: 22px;
    text-align: center;
}

h3 {
    font-family: 'SuperMario256', arial, serif;
    color: black;
    font-size: 20px;
    text-shadow: #f7f4f4 4px -3px 2px;
}

@media screen and (max-width: 1024px) {
    .fiche-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .photo {
        display: none;
    }
    .photo2 {
        order: 1;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 2px;
        box-sizing: border-box;
        align-items: center;
        align-self: center;
        flex: 1;
        display: flex;
    }
    .texte {
        order: 2;
        flex: 1 0 auto;
        align-self: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-height: 550px) {
    .fiche-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .photo {
        display: none;
    }
    .photo2 {
        display: flex;
        order: 1;
        border: 2px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        align-items: center;
        align-self: center;
        flex: 1;
    }
    .texte {
        order: 2;
        flex: 1 0 auto;
        align-self: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 0;
    }
}


/* animation barre compétences*/

.skill {
    list-style: none;
    width: 400px;
    margin: 0 auto;
    position: relative;
    line-height: 2em;


}

.skill li {
    margin:25px 0 25px 0;
    height: 20px;
    border-radius: 10px;
    border-color: black solid 1px;
    -moz-box-shadow: 0 1px 0px #bbbdb9 inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #bebbb9;
}

.skill li h3 {
    position: relative;
    top: -30px;
}

.bar {
    height: 18px;
    margin: 1px 2px;
    position: absolute;
    left: 50px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}
.furtif {
    width: 83%;
    -moz-animation: furtif 2s ease-out;
    -webkit-animation: furtif 2s ease-out;
    background-color: #f74c35;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f74c35), to(#f7260a));
    background-image: -webkit-linear-gradient(top, #f74c35, #f7260a);
    background-image: -moz-linear-gradient(top, #f74c35, #f7260a);
    background-image: -ms-linear-gradient(top, #f74c35, #f7260a);
    background-image: -o-linear-gradient(top, #f74c35, #f7260a);
    background-image: linear-gradient(top, #f74c35, #f7260a);
}

.mana {
    width: 73%;
    -moz-animation: mana 2s ease-out;
    -webkit-animation: mana 2s ease-out;
    background-color: #f0bb4b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
    background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.acc {
    width: 65%;
    -moz-animation: acc 2s ease-out;
    -webkit-animation: acc 2s ease-out;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.attaque {
    width: 70%;
    -moz-animation: attaque 2s ease-out;
    -webkit-animation: attaque 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}
li.icon1 {
    background: url('../photos/ninja.png') left no-repeat;
    padding: 5px;
}

li.icon2 {
    background: url('../photos/energy.png') left no-repeat;
    padding: 5px;
}

li.icon3 {
    background: url('../photos/speed.png') left no-repeat;
    padding: 5px;
}

li.icon4 {
    background: url('../photos/brain.png') left no-repeat;
    padding: 5px;
}

@-moz-keyframes furtif {
    0% {
        width: 0px;
    }
    100% {
        width: 83%;
    }
}

@-moz-keyframes mana {
    0% {
        width: 0px;
    }
    100% {
        width: 73%;
    }
}

@-moz-keyframes acc {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes attaque {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes furtif {
    0% {
        width: 0px;
    }
    100% {
        width: 83%;
    }
}

@-webkit-keyframes mana {
    0% {
        width: 0px;
    }
    100% {
        width: 73%;
    }
}

@-webkit-keyframes acc {
    0% {
        width: 0px;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes attaque {
    0% {
        width: 0px;
    }
    100% {
        width: 70%;
    }
}
